{block content}
<h2>Katalog autorů</h2>

<table>
<tr><th>Jméno a příjmení</th><th>Email</th><th>Detaily</th></tr>
{foreach $authorsList as $author}
<tr><td>{$author->jmeno}</td><td>{$author->email}</td><td><a n:href=":User:Author:show $author->username">Detaily</a></td></tr>
{/foreach}
</table>