{block content}
<h2>Detail autora</h2>
<table>
<tr><th>Username:</th><td>{$AuthorData->FK_username}</td></tr>
<tr><th>Jméno a příjmení:</th><td>{$AuthorData->jmeno}</td></tr> 
<tr><th>Email:</th><td>{$AuthorData->email}</td></tr> 
</table> 
<h3>Autorovy aplikace</h3>
<table>
{foreach $AuthorApps as $app}
<tr><td><a n:href=":User:Application:show $app->ID_aplikace">{$app->nazev}</a></td><td>{$app->popis}</td></tr>
{/foreach}
</table>
